/* store content wrapper */
.wrapper {
	display: grid;
	grid-template-areas: 'left content right';
	grid-template-columns: 0.1fr 1fr 0.1fr;
	width: 100%;
	margin: 1vh 0;
	position: relative;
}

.grid {
	display: grid;
    grid-template-areas:
        'breadcrumb'
		'first'
        'second ';
	grid-template-columns: 1fr;
	grid-area: content;
	position: relative;
	background-color: white;
	justify-content: space-evenly;
	width: 100%;
	height: 90vh;
    overflow-y: auto;
    align-content: flex-start;
    row-gap: 1vh;
    padding-top: 7vh;
}
img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.archiveLink {
    text-decoration: none; color: unset;
}
.detailheader {
    font-size: 1.75rem;
    font-weight: unset;
}
.detailtitle {
font-weight: bolder;
padding-right: 1vw;
}
.detailbody {
    font-size: .9rem ;
}

.first {
    grid-area: first;
    position: relative;
}
.second {
    grid-area: second;
    position: relative;
}
.breadcrumb {
    grid-area: breadcrumb;
    font-size: .85rem;
}
@media only screen and (max-width: 900px) {
	.static-page-box {
		width: 60px;
    }
    .grid {
        padding: 0 5vw;
    }
    .overlay {
        font-size: 2.75rem;
    }
    .dateOverlay {
        font-size: 1.75rem;
    }
}
@media only screen and (max-width: 600px) {
    .overlay {
        font-size: 2rem;
    }
    .dateOverlay {
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 380px) {
	.static-page-box {
		width: 40px;
	}
}
